body {
  background: #e5e5e5;
}

.primary-color {
  color: #6070ff !important;
}

.secondary-color {
  color: #344563 !important;
}

#headline {
  height: calc(100vh - 56px);
  background-image: url('./assets/images/Header-bg.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom-left-radius: 80px !important;
}

.headline-section {
  height: 100%;
}

.bg-primary {
  background-color: #ebebff !important;
  color:#6070ff !important;
}

.btn-primary {
  color: #396df2 !important;
  background-color: #fff !important;
  padding: 12px !important;
  font-size: 17px !important;
}

.my-6 {
  margin: 142px auto !important;
}